<html>
<head>
<meta charset="UTF-8">
<title>Michael Harrison's Portfolio</title>
<link rel="stylesheet" type="text/css" href="index.css"/>

<script type="text/javascript">

</script>

</head>

<body>
	
	
	<header id="header">
		<div class="wrapper">
			<div id="header-text">
				<h1>Things I like </h1>
				<p>1. </p>
				<p>2. </p>
				<p>3. </p>
				<p>4. </p>
				<p>5. </p>
				<p>6. </p>
				<p>7. </p>
				<p>8. </p>
				<p>9. </p>
				<p>10. </p>
				<p>Paragraph about things I like </p>
			</div>
		</div>
	</header>
	
	<nav id="nav"> 
		<div class="wrapper">
			<div class="btn-container">
				<a class="btn" href="index.html">Home</a>
				<a class="btn" href="addToList.html">Add to List</a>
				<a class="btn" href="login.html">Login</a>
			</div> 
		</div>
	</nav>
</body>