<html>
<head>
<meta charset="UTF-8">
<title>Michael Harrison's Portfolio</title>
<link rel="stylesheet" type="text/css" href="index.css"/>

<script type="text/javascript">

</script>

</head>

<body>
	
	
	<header id="header">
		<div class="wrapper">
			<div id="header-text">
				<h1>Things I like </h1>
				<p>1. Programming </p>
				<p>2. Baseball</p>
				<p>3. Football</p>
				<p>4. Pink Floyd</p>
				<p>5. Led Zeppelin</p>
				<p>6. Tom Petty</p>
				<p>7. Pool </p>
				<p>8. Games </p>
				<p>9. Coffee </p>
				<p>10. Sleep </p>
				<p>I like programming, which is why I'm at New England Tech to learn more about it. <br />
				I enjoy watching the Sox and Patriots. Classic Rock is my favorite genre of music. <br />
				I enjoy playing games, and i've been playing a lot of pool (billards) lately. Sleep is great, <br />
				but I can't sleep too much because that's unproductive, so coffee helps out. </p>
			</div>
		</div>
	</header>
	
	<nav id="nav"> 
		<div class="wrapper">
			<div class="btn-container">
				<a class="btn" href="index.html">Home</a>
				<a class="btn" href="addToList.html">Add to List</a>
				<a class="btn" href="login.html">Login</a>
			</div> 
		</div>
	</nav>
</body>